body {
  margin: 0;
  padding: 0;
  font-family: Rubik;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background-color 0.9s ease, color 0.9s ease;
}

body.light {
  background-color: white;
  color: #45433e;
}

body.dark {
  background-color: #45433e;
  color: white;
}
